#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

.header{
    text-align: center;
}

.load_more_btn {
    margin-bottom: 24px;
    margin-left: 32px;
    margin-right: 32px;
}

#overlay {
    position: fixed;
    inset: 0;                  
    background: rgba(0,0,0,.45);
    z-index: 999; 
}

#overlayCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.401);
}

#search_field {
    width: 250px;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 12px;
}

.input_container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: auto;
}